body{
  margin: 0;
  padding: 0;
  /* -----------------Main background for all webpages------------- */
  background-color: rgb(200, 180, 150)    
}

/* ------------------------------Start of NavBar Styling---------------------- */
.navbarContainer {
  padding: 0.5em;
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  background-color: rgb(90, 77, 65);
  color: rgb(245, 245, 220);
}
.navbarContainer a {
height: 100%;
color: rgb(245, 245, 220);
text-decoration: none;
}
.navbarTitle{
height: 100%;
color: rgb(255, 99, 71);
text-align: center;
}
/* -----------------------------------End of NavBar Styling-------------------------- */

/* -----------------------------------login/logout/Signup btn Component */

.logBtn{
  height: 100%;
  background-color: transparent;
  color: rgb(245, 245, 220);
  text-decoration: none;
}