body{
  margin: 0;
  padding: 0;
  /* -----------------Main background for all webpages------------- */
  background-color: rgb(200, 180, 150)    
}

/* ------------------------------Start of NavBar Styling---------------------- */
.navbarContainer {
  padding: 0.5em;
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  background-color: rgb(90, 77, 65);
  color: rgb(245, 245, 220);
}
.navbarContainer a {
height: 100%;
color: rgb(245, 245, 220);
text-decoration: none;
}
.navbarTitle{
height: 100%;
color: rgb(255, 99, 71);
text-align: center;
}
/* -----------------------------------End of NavBar Styling-------------------------- */

/* ---------------------------------------------------Start of login/Signup page */
.loginComponentContainer{
  border: solid blue;
  
  display: flex;
  flex-flow: column;
  width: 95%;
  height: 800px;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto 0 auto;
}
  /* -----------------------Logged In Options */
  .loggedInOptionsContainer{
    border: solid red;

    height: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .loggedInTitle{
    color: rgb(191, 29, 0);
  }
  .loggedInLogoutBtn{
    font-size: xx-large;
    border-radius: 30px;
    padding: 0.5em;
    background-color: rgb(90, 77, 65);
    color: rgb(255, 99, 71);
    transition: transform 0.1s ease-in-out;
  }
    /* For button click, to show it's being pressed */
  .loggedInLogoutBtn:active {
  transform: scale(0.95);
  }

  /* -----------------------login Form */
.loginContainer{
  margin: 1rem auto;
  height: 50%;
  width: 70%;
}
.loginForm{
  border: solid red;
  margin: 1em;
  width: 95%;
  height: 90%;

  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.labelNameEmailLogin{
  font-size: x-large;
  color: darkgoldenrod;
  font-weight: bolder;
}
.inputNameEmailLogin{
  height: 4rem;
  width: 70%;
  font-size: large;
  text-align: center;
}
.labelPasswordLogin{
  font-size: x-large;
  color: darkgoldenrod;
  font-weight: bolder;
}
.inputPasswordLogin{
  height: 4rem;
  width: 70%;
  font-size: large;
  text-align: center;
}
  /* ---------------------Signup form */
.signupContainer{
  margin: 1rem auto;
  height: 50%;
  width: 70%;
}
.signupForm{
  border: solid red;
  margin: 1em;
  width: 95%;
  height: 90%;

  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.labelEmailSignup{
  font-size: x-large;
  color: darkgoldenrod;
  font-weight: bolder;
}
.inputEmailSignup{
  height: 4rem;
  width: 70%;
  font-size: large;
  text-align: center;
}
.labelUsernameSignup{
  font-size: x-large;
  color: darkgoldenrod;
  font-weight: bolder;
}
.inputUsernameSignup{
  height: 4rem;
  width: 70%;
  font-size: large;
  text-align: center;
}
.labelPasswordSignup{
  font-size: x-large;
  color: darkgoldenrod;
  font-weight: bolder;
}
.inputPasswordSignup{
  height: 4rem;
  width: 70%;
  font-size: large;
  text-align: center;
}
/* ---------------------------------End of login/Signup page---------- */

/* -----------------------------------------------------------------Start of Create5E page styling */


/* ---------------------------------End of Create5E page styling------- */

/* -----------------------------------------------------------------Start of UsersContent page styling */


/* ---------------------------------End of UsersContent page styling------- */

/* ----------------------------------------------------- Start of Carousel and buttons styling */



/* -----------------------------End of Carousel/Button styling-------------- */

